<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>

    <h1>Home Page</h1>
    <p>This is a home page.</p>
    <p><a href="/profile">Profile Page</a></p>
    <!-- <p><a href="/contact">お問い合わせページへ</a></p> -->
    <p><a href="/report">Report Page(You can report a waste data.)</a></p>
    <p><a href="/index">Index Page(You can see all a record.)</a></p>

</body>
</html>