{% extends 'layout.html' %}

{% block head %}
<title>Submit Data Form</title>
<link rel="stylesheet" href="/static/css/report_form.css">
{% endblock  %}

{% block body %}
<div class="content-wrapper">
<h1>Report Form</h1>
<form action="/report" method="post">
    <div class="date-wrapper">
        <div class="description">Date</div>
        <input type="date" id="date" name="date" placeholder="Enter quantity">
    </div>
    <div class="radio-button-wrapper gap">
        <div class="description">Category</div>
        <div class="radio-button radio-button-first">
            <input type="radio" id="select_water" name="radio" value="wasteWater" onclick="chgPulldown(this.form)">
            <label for="select_water">Water</label>
        </div>
        <div class="radio-button">
            <input type="radio" id="select_paper" name="radio" value="wastePaper" onclick="chgPulldown(this.form)">
            <label for="select_paper">Paper</label>
        </div>
    </div>
    <div class="selector-wrapper gap">
        <div class="description">Item</div>
        <select name="selector"></select>
    </div>

    <div class="field-wrapper gap">
        <div class="description">Quantity</div>
        <input type="number" id="quantity" name="quantity" placeholder="100">
    </div>
    <div class="btn-wrapper">
        <div class="btn-group">
            <input type="submit" value="Submit">
            <a href="/" class="btn back-btn">Top</a>
        </div>
    </div>
</form>

  
</div>
<script src="{{ url_for('static', filename='javascript/report_form.js') }}"></script>
{% endblock  %}